@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;

}

.logo{
    font-weight: bold;
}

.todo-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid ;
    border-width: thick;
    margin: 90px;
    padding: 50px;
    background-color: black;
    width: 20%; 
}

p{
    color: white;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    margin: 5px;
    padding: 5px;
}

.btns button {
    background-color: gray;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px; 
}

.btns button:hover {
    background-color: black;
}

#todo-item {
        padding:10px;
        margin:10px;
}

ul li{
    list-style-type: none ;
}

.list-group-item {
    padding: 10px;
    border: 1px solid 333;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 10px 10px;
    width:70%;
    color: #fff;
}

header{
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* Style for table headers and cells */
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

/* Optional: Add some background color to headers */
th {
    background-color: #f2f2f2;
}

/* Add a hover effect for table rows */
tr:hover {
    background-color: #f5f5f5;
}
